src/main/resources/xsd/environments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    (C) Copyright 2016-2018 teecube
    (http://teecu.be) and others.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<xs:schema xmlns="http://teecu.be/toe-installer/environments"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:env="http://teecu.be/toe-installer/environments"
		   targetNamespace="http://teecu.be/toe-installer/environments"
		   elementFormDefault="qualified" attributeFormDefault="unqualified">

	<!-- Products -->
	<xs:simpleType name="ProductType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="admin" />
			<xs:enumeration value="bw5" />
			<xs:enumeration value="bw6" />
			<xs:enumeration value="ems" />
			<xs:enumeration value="ftl" />
			<xs:enumeration value="rv" />
			<xs:enumeration value="tea" />
			<xs:enumeration value="tra" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="Property">
		<xs:sequence>
			<xs:element name="key" type="xs:string"/>
			<xs:element name="value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Packages -->
	<xs:complexType name="AbstractPackage" abstract="true"/>

	<xs:complexType name="AbstractLocalPackage" abstract="true">
		<xs:complexContent>
			<xs:extension base="AbstractPackage"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LocalFileWithVersion">
		<xs:complexContent>
			<xs:extension base="AbstractLocalPackage">
				<xs:attribute name="file" type="xs:string" use="required" />
				<xs:attribute name="version" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LocalPackagePattern">
		<xs:complexContent>
			<xs:extension base="AbstractLocalPackage">
				<xs:attribute name="directory" type="xs:string" use="optional" />
				<xs:attribute name="pattern" type="xs:string" use="optional" />
				<xs:attribute name="versionGroupIndex" type="xs:int" use="optional" />
				<xs:attribute name="archGroupIndex" type="xs:int" use="optional" />
				<xs:attribute name="osGroupIndex" type="xs:int" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AbstractRemotePackage" abstract="true">
		<xs:complexContent>
			<xs:extension base="AbstractPackage"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="HttpRemotePackage">
		<xs:complexContent>
			<xs:extension base="AbstractRemotePackage">
				<xs:attribute name="url" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MavenArtifactPackage">
		<xs:complexContent>
			<xs:extension base="AbstractRemotePackage">
				<xs:attribute name="groupId" type="xs:string" use="required" />
				<xs:attribute name="artifactId" type="xs:string" use="required" />
				<xs:attribute name="version" type="xs:string" use="required" />
				<xs:attribute name="packaging" type="xs:string" use="required" />
				<xs:attribute name="classifier" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MavenTIBCOArtifactPackage">
		<xs:complexContent>
			<xs:extension base="AbstractRemotePackage">
				<xs:attribute name="groupId" type="xs:string" use="optional" />
				<xs:attribute name="artifactId" type="xs:string" use="optional" />
				<xs:attribute name="version" type="xs:string" use="required" />
				<xs:attribute name="packaging" type="xs:string" use="optional" />
				<xs:attribute name="classifier" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="IfProductExistsBehaviour">
		<xs:restriction base="xs:string">
			<xs:enumeration value="delete" />
			<xs:enumeration value="fail" />
			<xs:enumeration value="keep" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="Package">
		<xs:choice>
			<xs:element name="httpRemote" type="HttpRemotePackage"/>
			<xs:element name="mavenArtifact" type="MavenArtifactPackage"/>
			<xs:element name="mavenTIBCOArtifact" type="MavenTIBCOArtifactPackage"/>
			<xs:element name="fileWithVersion" type="LocalFileWithVersion"/>
			<xs:element name="directoryWithPattern" type="LocalPackagePattern"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="Product" abstract="true">
		<xs:sequence>
			<xs:element name="preInstallCommands" minOccurs="0" type="Commands">
				<xs:annotation>
					<xs:documentation>Pre-install commands of a product are executed before the installation of the product.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="package" type="Package" minOccurs="1"/>
			<xs:element name="properties" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="property" type="Property" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="postInstallCommands" minOccurs="0" type="Commands">
				<xs:annotation>
					<xs:documentation>Post-install commands of a product are executed after the installation of the product.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="optional"/>
		<xs:attribute name="priority" type="xs:int" use="optional"/>
		<xs:attribute name="skip" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="ifExists" type="IfProductExistsBehaviour" default="keep" />
	</xs:complexType>

	<xs:complexType name="TIBCOProduct">
		<xs:complexContent>
			<xs:extension base="Product">
				<xs:sequence>
					<xs:element name="hotfixes" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:choice minOccurs="1" maxOccurs="unbounded">
									<xs:element name="mavenArtifact" type="MavenArtifactPackage"/>
									<xs:element name="mavenTIBCOArtifact" type="MavenTIBCOArtifactPackage"/>
									<xs:element name="fileWithVersion" type="LocalFileWithVersion"/>
								</xs:choice>
							</xs:sequence>
							<xs:attribute name="installWhenProductIsSkipped" type="xs:boolean" default="false" use="optional"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="name" type="xs:string" use="optional" default="@type"/>
				<xs:attribute name="type" type="ProductType" use="required"/>
				<xs:attribute name="configure" type="xs:boolean" use="optional" default="true"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CustomProduct">
		<xs:complexContent>
			<xs:extension base="Product">
				<xs:sequence>
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:element name="antCommand" type="AntCommand"/>
						<xs:element name="mavenCommand" type="MavenCommand"/>
						<xs:element name="systemCommand" type="SystemCommand"/>
						<xs:element name="uncompressCommand" type="UncompressCommand"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="name" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Commands -->
	<xs:complexType name="AbstractCommand" abstract="true">
		<xs:attribute name="id" type="xs:string" use="optional" />
		<xs:attribute name="name" type="xs:string" use="optional" />
		<xs:attribute name="description" type="xs:string" use="optional" />
		<xs:attribute name="onError" type="CommandOnErrorBehaviour" default="fail" />
		<xs:attribute name="skip" type="xs:boolean" use="optional" default="false" />
		<xs:attribute name="workingDirectory" type="xs:string" use="optional" default="${packageDirectory}" />
	</xs:complexType>

	<xs:complexType name="AntCommand">
		<xs:complexContent>
			<xs:extension base="AbstractCommand">
				<xs:sequence>
					<xs:element name="buildFile" type="xs:string" />
					<xs:element name="target" type="xs:string" minOccurs="0" />
					<xs:element name="properties" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="property" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="key" type="xs:string"/>
											<xs:element name="value" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MavenCommand">
		<xs:complexContent>
			<xs:extension base="AbstractCommand">
				<xs:sequence>
					<xs:element name="goals">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="goal" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="properties" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="property" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="key" type="xs:string"/>
											<xs:element name="value" type="xs:string"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="profiles" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="profile" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="enableDebugOutput" type="xs:boolean" default="false"/>
				<xs:attribute name="nonRecursive" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SystemCommand">
		<xs:complexContent>
			<xs:extension base="AbstractCommand">
				<xs:sequence>
					<xs:choice>
						<xs:element name="shell" type="xs:string"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="UncompressCommand">
		<xs:complexContent>
			<xs:extension base="AbstractCommand">
				<xs:sequence>
					<xs:element name="destination">
						<xs:complexType>
							<xs:choice>
								<xs:element name="directory" type="xs:string" />
								<xs:element name="tempDirectory" />
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="format" type="UncompressFormat" default="auto"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="UncompressFormat">
		<xs:restriction base="xs:string">
			<xs:enumeration value="auto" />
			<xs:enumeration value="zip" />
			<xs:enumeration value="tar" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CommandOnErrorBehaviour">
		<xs:restriction base="xs:string">
			<xs:enumeration value="fail" />
			<xs:enumeration value="warn" />
			<xs:enumeration value="ignore" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="Commands">
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element name="antCommand" type="AntCommand"/>
				<xs:element name="mavenCommand" type="MavenCommand"/>
				<xs:element name="systemCommand" type="SystemCommand"/>
				<xs:element name="uncompressCommand" type="UncompressCommand"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<!-- Environments -->
	<xs:complexType name="Environment">
		<xs:sequence>
			<xs:element name="tibcoRoot" type="xs:string"/>
			<xs:element name="packagesDirectory" type="xs:string" minOccurs="0"/>
			<xs:element name="preInstallCommands" minOccurs="0" type="Commands"/>
			<xs:element name="products">
				<xs:complexType>
					<xs:sequence>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:element name="tibcoProduct" type="TIBCOProduct"/>
							<xs:element name="customProduct" type="CustomProduct"/>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="UniqueCustomProductName">
					<xs:selector xpath="env:customProduct" />
					<xs:field xpath="@name" />
				</xs:unique>
			</xs:element>
			<xs:element name="postInstallCommands" minOccurs="0" type="Commands"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="ifExists" type="IfEnvironmentExistsBehaviour" default="fail" />
	</xs:complexType>

	<xs:simpleType name="IfEnvironmentExistsBehaviour">
		<xs:restriction base="xs:string">
			<xs:enumeration value="delete" />
			<xs:enumeration value="fail" />
			<xs:enumeration value="update" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="environments">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="environment" minOccurs="1" maxOccurs="unbounded" type="Environment"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>